$primary: #fedc19;

$secondary: #444444;

$dark: #051d42;

$orange: #e23e1c;

$green: #2e9909;

$gray-100: #f4f4f4; 
$custom-gray-300: #F9FAFC; 
$custom-gray-banner-1: #F3F3F3; 
$custom-gray-banner-2: #E9E9E9; 


// #FAFAFA // top side nav, top banner

// #F3F3F3 // 6 col banner
// #E9E9E9 // 6 col banner

// #F8F8F8 // product bg, full width banner bg

// #545454

// base
$body-color: #252525;
$border-radius: 0 !default;

// typography
$font-family-sans-serif: 'Rubik', sans-serif;

// buttons
$input-btn-focus-width: 0 !default;
// $btn-padding-y: 20px;
$btn-padding-x: 30px;

$btn-padding-y-lg: 20px !default;
$btn-padding-x-lg: 40px !default;
$btn-font-size: 16px;
$btn-font-size-lg: $btn-font-size;

// navbar
$navbar-light-color: $gray-100 !default;
$navbar-light-active-color: $primary;
$navbar-nav-link-padding-x: 1.3rem !default;

$navbar-light-hover-color: $primary;
