.bg {
  &-primary-dark {
    background: $primary;
    background: linear-gradient(90deg, $primary 50%, $dark 50%);
  }
  &-gray-200 {
    background-color: $gray-200;
  }
  &-gray-300 {
    background-color: $custom-gray-300;
  }
}
