.text {
  // Size
  &-small {
    font-size: 11px;
  }
  // color
  &-orange {
    color: $orange;
  }

  // misc
  &-spacing-5 {
    letter-spacing: 5px;
  }

  &-lh-1 {
    line-height: 1.2;
  }
}
// link
.link {
  &-dark {
    &:hover {
      color: $primary;
    }
  }
  &-muted {
    @extend .text-muted;
	text-decoration: none;
    &:hover {
      color: $primary !important;
    }
  }
}
